<section id="about" class="window">
  <div class="window-title">ABOUT ME</div>
  <div class="content-box">
    <div class="profile-container">
      <img src="assets/pfp.jpg" alt="profile pic" class="profile-pic" />
      <div class="profile-text">
        <h2>angysof16</h2>
        <h3>Sofia Guerra</h3>
        <p>Age: 20</p>
        <p>Location: Bogotá, Colombia</p>
        <p>Interests: Robotics, coding, music, space</p>
        <p class="bio">Systems and Mechatronics Engineering Student</p>
      </div>
    </div>
  </div>
</section>
