<footer class="window">
  <div class="footer-content">
    <p>made by angysof16</p>
    <p>best viewed on 1024x768 • internet explorer 6.0</p>
    <p>
      Vinyl gallery inspired by
      <a href="https://www.kazimariusz.com/codesnippets/vinyl-showcase"
        >kazimariusz's vinyl showcase</a
      >
    </p>
    <div class="footer-images">
      <img src="assets/blinkies/construction.gif" alt="button" />
      <img src="assets/blinkies/niceday.gif" alt="button" />
      <img src="assets/programmer.gif" alt="button" />
    </div>
  </div>
</footer>
