<section id="music" class="window">
  <div class="window-title">MUSIC & MISC</div>
  <div class="content-box">
    <div id="vinyl-gallery">
      <div class="vinyl">
        <img src="assets/covers/mtvunplugged.jpg" />
      </div>
      <div class="title">Unplugged - Alice in Chains</div>

      <div class="vinyl">
        <img src="assets/covers/myownprison.jpg" />
      </div>
      <div class="title">Creed - My Own Prison</div>

      <div class="vinyl">
        <img src="assets/covers/vitalogy.jpg" />
      </div>
      <div class="title">Vitalogy - Pearl Jam</div>

      <div class="vinyl">
        <img src="assets/covers/bullets.webp" />
      </div>
      <div class="title">
        I Brought You My Bullets, You Brought Me Your Love - My Chemical
        Romance
      </div>

      <div class="vinyl">
        <img src="assets/covers/breakfastinamerica.webp" />
      </div>
      <div class="title">Breakfast in America - Supertramp</div>

      <div class="vinyl">
        <img src="assets/covers/1984.jpg" />
      </div>
      <div class="title">1984 - Van Halen</div>

      <div class="vinyl">
        <img src="assets/covers/tailwinds.webp" />
      </div>
      <div class="title">Tailwinds - The Fearless Flyers</div>

      <div class="vinyl">
        <img src="assets/covers/jarofflies.jpg" />
      </div>
      <div class="title">Jar of Flies - Alice in Chains</div>

      <div class="vinyl">
        <img src="assets/covers/ten.jpg" />
      </div>
      <div class="title">Ten - Pearl Jam</div>

      <div class="vinyl">
        <img src="assets/covers/fantasticplanet.jpg" />
      </div>
      <div class="title">Failure - Fantastic Planet</div>
    </div>

    <small>
      Vinyl gallery inspired by
      <a
        href="https://www.kazimariusz.com/codesnippets/vinyl-showcase"
        target="_blank"
        >kazimariusz's vinyl showcase</a
      >
    </small>

    <!-- BLINKIES -->
    <div class="stamps-section">
      <div class="stamps-grid">
        <img src="assets/blinkies/bassguitarist.gif" alt="blinkie" />
        <img src="assets/blinkies/aliceinchains.gif" alt="blinkie" />
        <img
          src="assets/blinkies/0210-werewolfmoonhowl.gif"
          width="150"
          alt="blinkie"
        />
        <img
          src="assets/blinkies/0092-computerconnect.gif"
          alt="blinkie"
        />
        <img src="assets/blinkies/apollo.gif" alt="blinkie" />
        <img src="assets/blinkies/htmlblinkie.gif" alt="blinkie" />
        <img src="assets/blinkies/primus.gif" alt="blinkie" />
        <img src="assets/blinkies/cblinkie.gif" alt="blinkie" />
        <img src="assets/blinkies/digjazz.gif" alt="blinkie" />
        <img src="assets/blinkies/ocaptain.gif" alt="blinkie" />
        <img src="assets/buttons/nasabutton.png" alt="button" />
        <img src="assets/buttons/linuxnow.jpg" alt="button" />
        <img src="assets/buttons/bestview.gif" alt="button" />
        <img src="assets/buttons/cpp.png" alt="button" />
        <img src="assets/buttons/stackoverflow.png" alt="button" />
        <img
          src="assets/buttons/tumblr_inline_p0bn6sbzDa1ty2vf6_500.gif"
          alt="button"
        />
        <img src="assets/buttons/wwwbutton.gif" alt="button" />
        <img src="assets/buttons/colombia.gif" alt="button" />
      </div>
    </div>
  </div>
</section>
