<section id="projects" class="window">
  <div class="window-title">PROJECTS</div>
  <div class="content-box">
    <div class="project-grid">
      <div class="project-item">
        <img src="assets/image.png" alt="project 1" />
        <h3>Professional portfolio</h3>
        <div class="text-with-icon">
          <p>
            Personal professional website built with React that showcases
            my projects, skills, and experience
          </p>
        </div>
        <div class="project-tags-container">
          <span class="project-tags">React</span>
          <span class="project-tags">JavaScript</span>
          <span class="project-tags">CSS</span>
        </div>
        <div>
          <a
            class="project-btn"
            href="https://angysof16.github.io/portfolio-app/"
            target="_blank"
            >Visit Website!
          </a>
        </div>
      </div>

      <div class="project-item">
        <img src="assets/rby.png" alt="project 2" />
        <h3>RB-Y1 Robot Implementation</h3>
        <div class="text-with-icon">
          <p>
            ROS2 Jazzy implementation of the Rainbow Robotics RB-Y1 robot
            with Gazebo simulation and control.
          </p>
        </div>
        <div class="project-tags-container">
          <span class="project-tags">ROS2</span>
          <span class="project-tags">RViz2</span>
          <span class="project-tags">Gazebo</span>
        </div>
        <div>
          <a
            class="project-btn"
            href="https://github.com/angysof16/rby1_robot_implementation"
            target="_blank"
            >Visit Repository!
          </a>
        </div>
      </div>

      <div class="project-item">
        <img src="assets/xaeweb.png" alt="project 4" />
        <h3>XAE Website</h3>
        <p>
          Collaborated in the development of the Aerospace Engineering student research group
          Xavierian Aerospace Engineering.
        </p>
        <div class="project-tags-container">
          <span class="project-tags">Angular</span>
          <span class="project-tags">TypeScript</span>
          <span class="project-tags">SCSS</span>
        </div>
        <div>
          <a
            class="project-btn"
            href="https://xavierianaerospace.github.io/"
            target="_blank"
            >Visit Website!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
