/* ==================== FOOTER ==================== */
footer {
  margin: 40px auto 20px;
  max-width: 900px;
}

.footer-content {
  padding: 20px;
  text-align: center;
  background: #cfccc2;
}

.footer-content p {
  color: #000000;
  font-size: 12px;
  margin: 5px 0;
}

.footer-images {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.footer-images img {
  border: 1px solid #000000;
}
